.menu {
    display: none;
}

h1, h2.heading {
    font-size: 6rem;
}

h2 {
    font-size: 2.8rem;
}

p {
    font-size: 2rem;
}

/* Header Section */

.header-logo {
    width: 20%;
}

 .sub-menu {
    width: 60%;
}

.sub-menu ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Main Content Section */
.wrapper {
    width: 70%;
}

.main-content {
    margin-bottom: 75px;
    width: 70%;
    height: 70vh;
    max-width: 1220px;
    padding-left: 10%;
}

/* About me Section */
.about-me  {
    display: flex;
}

.about-me--content {
    width: 70%;
}

.profile-picture {
    width: 400px;
    margin-left: 45px;
    margin-top: 75px;
}

.profile-picture img {
    border: 2px solid var(--blue);
    border-radius: 50%;
}

section {
    margin-bottom: 180px;
}

/* Project section */
.section-title:first-of-type::after {
    margin-left: 35px;
}

.project-content {
    display: flex;
    align-items: center;
}

.project-content:nth-last-of-type(2n + 2) {
    background-image: url(../assets/img/base-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-source {
    width: 100%;
    justify-content: flex-end;
}

.project-source a {
    margin-inline: 20px;
}

.color-icon:hover {
    color: #0c1633;
}

.project-description {
    margin-right: 45px;
}

/* Footer Section */
.social-media {
    position: fixed;
    top: 30vh;
    left: 3vw;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
}

.social-media svg:hover {
    transform: translateY(-3px);
    transition: .2s;
}

.social-media::after {
    content: " ";
    width: 1px;
    height: 90px;
    display: block;
    background-color: var(--font-color);
    margin: 0 auto;
}