.menu {
    display: none;
}

/* Header Section */

.header-logo {
    width: 20%;
}

.sub-menu {
    width: 60%;
}

.sub-menu ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.sub-menu li::before {
    content: " ";
}

li a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--font-color);
}

li a.menu-item:hover,
li a.menu-item:focus {
    color: white;
}

#resume-button {
    padding: 8px;
    font-size: 1.2rem;
}

/* Main Content Section */
.wrapper {
    width: 70%;
}

.main-content {
    margin-bottom: 75px;
    width: 70%;
    max-width: 1220px;
    padding-left: 10%;
}

/* About me Section */
.about-me  {
    display: flex;
}

.about-me--content {
    width: 70%;
}

.profile-picture {
    width: 400px;
    margin-left: 45px;
    margin-top: 75px;
}

.profile-picture img {
    border: 2px solid var(--blue);
    border-radius: 50%;
}

section {
    margin-bottom: 180px;
}

/* Project section */
.project-content {
    display: flex;
    align-items: center;
}

.project-content:nth-last-of-type(2n + 2) {
    background-image: url(../assets/img/base-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-source {
    width: 100%;
    justify-content: flex-end;
}

.project-source a {
    margin-inline: 20px;
}

.color-icon:hover {
    color: #0c1633;
}

.project-description {
    margin-right: 45px;
}