html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #0C1633;
    --font-color: #BECDE3;
    --blue: #0791E6;
} 

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

h2 {
    color: white;
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    color: var(--font-color);
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-top: 25px;
}

.header-logo {
    width: 20%;
}

.header-buttons {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact {
    border: 2px solid var(--font-color);
    color: var(--font-color);
}

#resume {
    border: 2px solid var(--blue);
    color: var(--blue);
}

#contact,
#resume {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    padding: 10px;
}

/* Main section */

.projects-section {
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 35px;
}

.projects-section img {
    height: 267px;
    object-fit: unset;
}

.card-project {
    padding: 25px;
    background-color: #1e3475; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.source-projects {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

a p {
    margin: 0;
}

a p:hover {
    text-decoration: underline;
}

svg {
    width: 25px;
    color: var(--font-color);
}

svg:hover {
    color: white;
}

footer {
    text-align: center;
}