::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #527891;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #08226b;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #163faf;
}