html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #0C1633;
    --font-color: #BECDE3;
    --blue: #0791E6;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

#wave {
    font-size: 1.5rem;
    color: var(--blue);
}

.no-scrooll {
    overflow: hidden;
}


h1 {
    color: white;
}
h1,
h2.heading {
    font-size: 3.6rem;
    margin-block: 10px;
}

h2.heading {
    color: #8892B0;
}

h2,
h3 {
    color: white;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

p {
    line-height: 1.3;
    font-size: 1.4rem;
    color: var(--font-color);
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

strong {
    color: var(--blue);
}
#share svg {
    fill: currentColor;
}

svg,
#share svg {
    color: var(--font-color);
}

svg:hover,
svg:focus,
#share svg:hover,
#share svg:focus {
    cursor: pointer;
    color: var(--blue);
}

.button {
    color: var(--blue);
    text-decoration: none;
    font-family: 'Robot', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    border: 2px solid var(--blue);
    padding: 10px 50px;
}

.button:hover,
.button:focus {
    background-color: rgba(44, 148, 216, .3);
    transition: .6s;
}

.wrapper,
.u-wrapper {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 25px;
}

/* Header Content */
.header-content {
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 42px;
}

/* .menu {
    width: 28px;
} */

li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--font-color);
}

li a.menu-item:hover,
li a.menu-item:focus {
    color: white;
}

#resume-button {
    padding: 8px;
    font-size: 1.6rem;
}

.sub-menu ul {
    list-style: none;
}

.sub-menu li::before {
    content: " ";
}

.sub-menu li {
    line-height: 1.3;
}

/* Main Content */
.main-content {
    margin-bottom: 75px;
}

.hero-content {
    margin-bottom: 50px;
}

/* About me Section */
.section-title::after {
    content: "";
    display: block;
    position: relative;
    top: -13px;
    right: -135px;
    height: 1px;
    width: 25vw;
    background-color: var(--blue);
}
.stack-title {
    color: white;
}

.about-me--stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.stack-list {
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    color: white;
}

li::before {
    content: "▹";
    color: var(--blue);
    line-height: 2rem;
}

.profile-picture {
    width: 160px;
    margin: 20px auto;
}

/* Projects section */
.content-wrapper {
    margin-top: 120px;
}

.project-content {
    margin-bottom: 40px;
}

.project-video--container video {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.project-source {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.project-source a {
    text-decoration: none;
}

.project-source a:hover,
.project-source a:focus {
    color: var(--blue);
    text-decoration: underline;
}

.project-source p {
    margin: 0;
}

.project-source svg{
    width: 25px;
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

.projects-button {
    padding: 10px;
}

/* Contact Section */
.contact-section {
    margin-top: 120px;
    text-align: center;
}

.contact-title {
    display: inline-block;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 5px;
}

/* Footer section */
footer {
    margin-top: 120px;
    padding: 0 10px;
    text-align: center;
}

.social-media a {
    text-decoration: none;
}

.social-media svg {
    width: 18px;
    height: 22px;
    margin-inline: 15px;
}

footer p {
    font-size: 1.2rem;
}

/* Tablet Styles */

@media (min-width: 768px) {
    #wave {
        font-size: 1.8rem;
    }

    h1,
    h2.heading {
    font-size: 4rem;
    }

    h2 {
        font-size: 2.6rem;
    }
    
    h3 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }

    .header-logo {
        width: 50px;
    }

    /* .menu {
        width: 35px;
    } */


    .button {
        font-size: 1.8rem;
    }

    .project-source {
        width: 50%;
        margin: 10px auto 0;
    }

    .profile-picture {
        width: 275px;
    }

    .stack-list,
    footer p {
        font-size: 1.5rem;
    }

    .social-media svg {
        width: 25px;
    }
}

@media (max-width: 1023px) {

    #resume-menu {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        /* position: relative; */
        z-index: 1;
    }

    .menu input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .menu span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: var(--blue);
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s  cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    .menu span:first-child {
        transform-origin: 0% 0%;
    }

    .menu span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .menu span:nth-last-child(3) {
        align-self: center;
        width: 25px;
        background: #72b9e7;
    }

    .first-line {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: var(--blue);
    }

    .second-line {
        opacity: 0;
        transform:  rotate(0deg) scale(0.2, 0.2);
        background: var(--blue);
    }

    .third-line {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .sub-menu {
        position: fixed;
        width: 50vw;
        height: 100vh;
        z-index: 1;
        top: 0;
        right: -50vw;
        background-color: #03115f;
        transition: .6s;
    }

    .is-active {
        right: 0;
    }
    
    .sub-menu ul {
        display: flex;
        margin-top: 80px;
        height: 50vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

   

    .close-menu {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin: 10px 0 10px 40vw;
    }

    .close-menu svg {
        fill: currentColor;
        color: var(--blue);
    }

    .close-menu svg:hover {
        color: #7c9de8;
    }

    .close-menu:hover {
        cursor: pointer;
    }
}